{% load sekizai_tags i18n wiki_tags %}{% load url from future %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block wiki_pagetitle %}{% endblock %}{% block wiki_pagetitle_suffix %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="the wikipedia of code">
    <!-- Happy hamster, yes that's the Wikicoding logo -->
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}wiki/img/favicon.ico">

    <link href="{{ STATIC_URL }}wiki/bootstrap/css/wiki-bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}wiki/wc_pygments/pygments.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}wiki/css/base_site.css" rel="stylesheet">
    {% render_block "css" %}
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    {% block wiki_body %}
    
    {% block wiki_navbar %}
    <div class="wiki-navbar"><!--navbar navbar-inverse navbar-fixed-top-->
      <div class="container">
        <div class="navbar-header">
          <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
          <button type="button" class="navbar navbar-inverse navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color: #f5f5f5; border-color: #f5f5f5;">
            <span class="icon-bar" style="background-color: #000;"></span>
            <span class="icon-bar" style="background-color: #000;"></span>
            <span class="icon-bar" style="background-color: #000;"></span>
          </button>
          {% block wiki_header_branding %}
          <a class="navbar-brand" href="{% url 'wiki:root' %}">Wikicoding</a>
          {% endblock %}
        </div>
        <div class="navbar-collapse collapse">
          <div class="navbar-right">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- <span class="badge notification-cnt">0</span> -->
                  {{ user }}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'wiki:user' username=user.username %}">
                      <i class="fa fa-pencil"></i>
                      {{ user.username }}
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'wiki:logout' %}">
                      <i class="fa fa-power-off"></i>
                      {% trans "Log out" %}
                    </a>
                  </li>
                  {# % include "wiki/plugins/notifications/menubaritem.html" % #}
                </ul>
              </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav">
              <li>
                <a href="{% login_url as wiki_login_url %}{{ wiki_login_url }}">{% trans "Log in" %}</a>
              </li>
              <li>
                <a href="{% url 'wiki:signup' %}">{% trans "Sign up" %}</a>
              </li>
            </ul>
            {% endif %}
          </div>
          <form class="navbar-form navbar-right" id="wiki-search-form" method="GET" action="{% url 'wiki:search' %}">
            <div class="input-group">
              <input type="search" class="form-control search-query" name="q" placeholder="{% trans "Search..." %}" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="fa fa-search"></span>
                </button>
              </span>
            </div><!-- /input-group -->
          </form>

          {% block wiki_header_navlinks %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="/wiki/Discuss/">{% trans "Discuss" %}</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/wiki/Manual_of_Style/">{% trans "Manual of Style" %}</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/wiki/Formatting/">{% trans "Formatting" %}</a></li>
          </ul>
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}

    <div class="container wiki-container">

      {% if messages %}
        <!-- Messages for this instance -->
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <!-- Reserved for breadcrumbs -->
      {% block wiki_breadcrumbs %}
        {% include "wiki/includes/create_button.html" %}
      {% endblock %}
      
      <!-- Main page contents go here -->
      {% block wiki_contents %}{% endblock %}
      
      <footer id="wiki-footer">
        <hr />
        {% block wiki_footer_prepend %}
        {% endblock %}
        <p>{% blocktrans %}Wikicoding is a free and open source project under the <a href="http://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3</a> license.You can find the source code and contribute to the project via github - <a href="//github.com/arjun024/wikicoding" target="_blank">wikicoding</a>{% endblocktrans %}</p>
        <span id="motto" style="font-style:italic">Every code has a silver lining.</span>
        <div style="clear: both"></div>
      </footer>

    </div> <!-- /container -->

    {% endblock %}

    <script src="{{ STATIC_URL }}wiki/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}wiki/js/base_site.js"></script>
    <script src="{{ STATIC_URL }}wiki/js/core.js"></script>
    <script src="{{ STATIC_URL }}wiki/bootstrap/js/bootstrap.min.js"></script>
    <!-- Optionally enable responsive features in IE8 -->
    <script src="{{ STATIC_URL }}wiki/js/respond.min.js"></script>
    {% render_block "js" %}

  </body>
</html>
