{% load wiki_tags i18n humanize %}
{% load url from future %}

<tr>
  <td>
    {% for urlpath in article.urlpath_set.all %}
      <a href="{% url 'wiki:get' path=urlpath.path language=urlpath.language %}">{{ article.current_revision.title }}
        <span style="background:{{ urlpath.language|lang_to_rgb }}; border-radius:2px; color:{{ urlpath.language|lang_to_fontcolor_rgb }}; padding:5px; float: right; margin-right: 70%;">
          {{ urlpath.language|get_displayname }}
        </span>
      </a>
      <br/>
    {% empty %}
      <a href="{% url 'wiki:get' article_id=article.id %}">{{ article.current_revision.title }}</a>
    {% endfor %}
    {% if article.current_revision.deleted %}
      <span class="fa fa-trash"></span>
    {% endif %}
    {% if article.current_revision.locked %}
      <span class="fa fa-lock"></span>
    {% endif %}
    <p class="muted"><small>{{ article.current_revision.content|get_content_snippet:search_query }}</small></p>
  </td>
  <td style="white-space: nowrap">
    {{ article.current_revision.created|naturaltime }}
  </td>
</tr>
